        <div [ngClass]="this.orientationService.screen() ? 'mobile-screen' : 'large-screen'" [@slideInOut]="showResults && this.orientationService.screen()">
            <span class="input-row">
          @if(this.orientationService.screen()){
            <button mat-icon-button (click)="iconBackClicked()"> 
        <i class="fa-solid fa-angle-left"></i>
            </button>
        <input matInput type="search" [formControl]="searchSkalarForm" placeholder="Search Fellow Skalars">
      } @else {
        <form>
        <mat-form-field>
        <input matInput type="search" [formControl]="searchSkalarForm" placeholder="Search Fellow Skalars">
      </mat-form-field>
    </form>
      }
        </span>
     <!-- found -->
  @for(skalar of (skalars$ | async); let i = $index; track skalar){
    <span class="results">
        <app-skalar-card [skalarInfo]="skalar" [searchSkalar]="searchSkalarForm" [@slideInOut]> </app-skalar-card>
    </span>
  }
</div>
