<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reauthorize Page</title>
</head>

<body>
    <div>
        <header> Session Timeout 
        <div > <i class="fas fa-history "></i> </div>
        </header>
    <div class="reauthTitle" > 
        Your session is about to expire
    </div>
    <div class="countdown">
        Time Remaining: {{ remainingTime | date: 'ss' }}
      </div>
        <div  mat-dialog-actions>
            <button class="reauthLogout" mat-raised-button  (click)="logOut()">Logout</button>
            <button class="reauthStayIn" mat-raised-button  (click)="reAuthorize()">Remain Logged In</button>
        </div>
    </div>
</body>
