@use 'src/app/assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@use 'src/app/assistant-level-code/universal-reusable-styles/common' as universal;

// animations-7 conditions
@mixin animation($animation-type) {
  display: inline-block;
  color: var(--pairingColor);
  @if $animation-type == 'Appearance' {
    // Existing properties for 'Appearance'
  } @else if $animation-type == 'Pulse' {
    --scale-start: 1;
    --rotate-start: 0deg;
    --opacity-start: 1;
    --scale-mid: 1.2;
    --rotate-mid: 0deg;
    --opacity-mid: 0.5;
    --scale-end: 1;
    --rotate-end: 0deg;
    --opacity-end: 1;
  } @else if $animation-type == 'Fade' {
    --scale-start: 0.5;
    --rotate-start: 0deg;
    --opacity-start: 0;
    --scale-mid: 1.2;
    --rotate-mid: 0deg;
    --opacity-mid: 0.5;
    --scale-end: 1;
    --rotate-end: 0deg;
    --opacity-end: 1;
  } @else if $animation-type == 'Flip' {
    --scale-start: 1;
    --rotate-start: 0deg;
    --opacity-start: 0;
    --scale-mid: 1;
    --rotate-mid: 180deg;
    --opacity-mid: 0.5;
    --scale-end: 1;
    --rotate-end: 360deg;
    --opacity-end: 1;
  } @else if $animation-type == 'Spin' {
    --scale-start: 1;
    --rotate-start: 0deg;
    --opacity-start: 0.5;
    --scale-mid: 1;
    --rotate-mid: 180deg;
    --opacity-mid: 1;
    --scale-end: 1;
    --rotate-end: 360deg;
    --opacity-end: 1;
  }   @else if $animation-type == 'Slide' {
    --scale-start: 1;
    --rotate-start: 0deg;
    --opacity-start: 0.5;
    --scale-mid: 1;
    --rotate-mid: 0deg;
    --opacity-mid: 1;
    --scale-end: 1;
    --rotate-end: 0deg;
    --opacity-end: 1;
    // Customize further if needed
  } @else if $animation-type == 'Bounce' {
    --scale-start: 1;
    --rotate-start: 0deg;
    --opacity-start: 1;
    --scale-mid: 1;
    --rotate-mid: 0deg;
    --opacity-mid: 0.5;
    --scale-end: 1;
    --rotate-end: 0deg;
    --opacity-end: 1;
  }
}

.font-size {
  &-small { font-size: var(--font-size-smaller) }
  &-default { font-size: var(--font-size) }
  &-large { font-size: var(--font-size-larger) }
}
@keyframes glow-animation {
  from { opacity: 0; transform: translateX(-100%); }
  to { opacity: 1; transform: translateX(0); }
}
  @mixin animationEnter($delay) {
    animation: glow-animation 0.25s $delay forwards;
    opacity: 0;
    background: universal.generateGradient();
    transition: background 0.3s, color 0.3s;
    background-clip: text;
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .animations{
    @include animationEnter(0.5s);
  }
  // last letter options
  @mixin magical-letter-animation($type) {
    @include animation($type);
  }
     
    // Apply the mixin to each class
    .magical-letter {
      @include magical-letter-animation('Appearance');
    }
    .magical-letterpulse {
      @include magical-letter-animation('Pulse');
    }
  
  .magical-letterfade {
    @include magical-letter-animation('Fade');
  }
  .magical-letterflip {
    @include magical-letter-animation('Flip');
  }
  .magical-letterspin {
    @include magical-letter-animation('Spin');
  }
  .magical-letterslide {
    @include magical-letter-animation('Slide');
  }
  .magical-letterbounce {
    @include magical-letter-animation('Bounce');
  }
  