@use '../../universal-reusable-styles/responsive-mixin' as responsive;
@use '../../universal-reusable-styles/common' as universial;
div{
  @include universial.common(flex, row)
}
$Pulse: (
  translateY-start: 0px, translateY-mid: 0px, translateY-end: 0px,
  rotate-start: 15deg, rotate-mid: -15deg, rotate-end: 0deg
);
$Spin: (
  translateY-start: 0px, translateY-mid: 0px, translateY-end: 0px,
  rotate-start: 0deg, rotate-mid: 180deg, rotate-end: 360deg
);
$Flip: (
  translateY-start: 0px, translateY-mid: 0px, translateY-end: 0px,
  rotate-start: 0deg, rotate-mid: 180deg, rotate-end: 360deg
);
$Bounce: (
  translateY-start: -30px, translateY-mid: 15px, translateY-end: 0px,
  rotate-start: 0deg, rotate-mid: 0deg, rotate-end: 0deg
);

@mixin animation($name, $animation-type) {
  @keyframes #{$name} {
    0% {
      transform: translateY(map-get($animation-type, translateY-start)) 
                 rotate(map-get($animation-type, rotate-start));
      opacity: 0.6;
    }
    50% {
      transform: translateY(map-get($animation-type, translateY-mid)) 
                 rotate(map-get($animation-type, rotate-mid));
      opacity: 0.8;

    }
    100% {
      transform: translateY(map-get($animation-type, translateY-end)) 
                 rotate(map-get($animation-type, rotate-end));
      opacity: 1;

    }
  }
  animation: #{$name} 1s ease-in-out forwards;
}

@keyframes glow-animation {
  from { opacity: 0; transform: translateX(-100%); }
  to { opacity: 1; transform: translateX(0); }
}
  @mixin animationEnter($delay) {
    animation: glow-animation 0.25s $delay forwards;
    opacity: 0;
    background: linear-gradient(45deg, var(--firstChoice), var(--secondChoice));
    transition: background 0.3s, color 0.3s;
    background-clip: text;
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  .animations{
    @include animationEnter(0.5s);
  }
  /* Apply the mixin to each class */
  .magical-letterpulse {
      @include animation('Pulse', $Pulse);
    }
  .magical-letterspin {
    @include animation('Spin', $Spin);
  }
  .magical-letterflip {
    @include animation('Flip', $Flip);
  }
  .magical-letterbounce {
    @include animation('Bounce', $Bounce);
  }
  /* font styles */
  .font-size-small {  @include responsive.responsiveFontSize('smaller'); }
  .font-size-default { @include responsive.responsiveFontSize(); }
  .font-size-large {  @include responsive.responsiveFontSize('larger'); }