    @for (item of animatedText; let i = $index; track item) {
            <span
            #sparkle

            [attr.id]="'letter-' + i"
            [ngClass]="{
                'font-size-small': customClass === 'small',
                'font-size-default': customClass === 'default',
                'font-size-large': customClass === 'large',
                }"
            [@fadeOut]="!welcomeSouthPaw ? 'active' : 'inactive' "
            (@fadeOut.done)="autoGenerate ? renderOn() : null">
            <span class="animations"
            [ngClass]="
                {'sparkle': item.isLast}">
                {{ item.letter !== ' ' ? item.letter : '&nbsp;' }}
            </span>   
            </span>
    }
