<mat-form-field appearance="outline" class="input-add-wrapper">
            @if(label){
                <mat-label>
                  {{ label }}
                </mat-label>
              }
              <mat-chip-grid #chipGrid aria-label="Multiple inputs">
             @for (input of inputsEntered.value; let i = $index; track input) {
              <mat-chip-row 
              (removed)="remove(i)"
              [editable]="true"
              (edited)="edit(input, $event, i)">
                {{input}}
                <button matChipRemove>
                <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
                 </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input [placeholder]="filler || ''"
          [matChipInputFor]="chipGrid" 
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)"
          [formControl]="inputsString"/>

</mat-form-field>

  