    <div class="input-add-wrapper">
        <mat-form-field appearance="outline">
            @if(label){
                <mat-label>
                  {{ label }}
                </mat-label>
              }
              @if(icon){
                <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
                 }
              <mat-chip-grid #chipGrid aria-label="Multiple inputs">
             @for (input of inputsStrings.value; let i = $index; track input) {
              <mat-chip-row 
              [editable]="true"
              (edited)="edit(input, $event, i)">
                {{input}}
                <button matSuffix mat-icon-button class="material-symbols-outlined" 
                (click)="remove(i)" [attr.aria-label]="'remove ' + input">
                   <mat-icon>cancel</mat-icon>
                 </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputFor]="chipGrid" 
          (matChipInputTokenEnd)="add($event)"
          [formControl]="inputsStrings"/>
        </mat-form-field>
    </div>
  