$device-sizes: (
 base: 0px, 
 tablet: 600px, 
 laptop: 768px, 
 desktop: 992px, 
 tv: 1200px 
);
$device-sizes-height: (
  small: 320px, 
  medium: 480px, 
  large: 640px, 
  extra-large: 800px, 
  tv: 1080px 
);
$font-sizes: (
  base: 1.3rem,
  tablet: 1.4rem,
  laptop: 1.5rem,
  desktop: 1.6rem,
  tv: 1.7rem
);
$font-sub-sizes: (
  base: .1rem,
  tablet: .12rem,
  laptop: .18rem,
  desktop: .23rem,
  tv: .33rem
);
$line-heights: (
  base: 1.6,
  tablet: 1.55,
  laptop: 1.5,
  desktop: 1.45,
  tv: 1.4
);
$chip-sizes: (
   base: 15%,
   tablet: 25%,
   laptop: 35%,
   desktop: 45%,
   tv: 55%
);