@mixin common($flex: flex, $content: center, $portrait: column){
    display: $flex;
    justify-content: $content;
    flex-direction: $portrait;
}
@mixin pageSize{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
