// common requirements
$all: 100%;
@mixin common($flex: flex, $portrait: column){
    display: $flex;
    justify-content: center;
    flex-direction: $portrait;
}
@mixin pageSize{
    // maybe use min-height: 100vh;
    height: 100vh;
    width: $all;
    box-sizing: border-box;
}
$colors: (
  '#287182', // Darker Mystic Turquoise
  '#3b5a91', // Darker Celestial Blue
  '#1e4379', // Darker Sapphire Blue
  '#6ea4d4', // Darker Shimmering Sky
  '#000080', // Nebula Navy
  '#4f6d7a', // Steel Blue
  '#5a7d9a', // Atlantic Blue
  '#486b83', // Oceanic Blue
  '#778da9', // Dusty Blue
  '#3c6997', // Nautical Blue
  '#005f73', // Deep Sea Blue
  '#94c9a9', // Teal Blue
  '#7fb7be', // Sky Reflection Blue
);

:root {
  --pairingColor: #486b83; // Oceanic Blue
  --pairingColor2: #778da9; // Dusty Blue
}

@function random-color() {
  $index: random(length($colors));
  @return nth($colors, $index);
}
