 @use '../universal-reusable-styles/break-points' as device;
 
// reusable algorithms
@mixin media-query($screen, $min-width) {
    $index: index(map-keys(device.$device-sizes), $screen);
    $next-index: $index + 1;
    $device-sizes-keys: map-keys(device.$device-sizes);
    $next-screen: if($next-index <= length($device-sizes-keys), nth($device-sizes-keys, $next-index), null);
    $max-width: if($next-screen, map-get(device.$device-sizes, $next-screen) - 1px, null);
    $media-query: "(min-width: #{$min-width})";
    @if $max-width {
        $media-query: "#{$media-query} and (max-width: #{$max-width})";
      }
      @media #{$media-query} {
        @content;
      }
}
// if not base, scale with screen sizes
@mixin responsiveFontSize($sizeVariant: 'default') {
  @each $screen, $min-width in map-keys(device.$device-sizes) {
     $base-font-size: map-get(device.$font-sizes, 'base');
     $base-font-sub-size: map-get(device.$font-sub-sizes, 'base');
     $base-line-height: map-get(device.$line-heights, 'base');
     $final-font-size: $base-font-size; // Default size
    @if $screen != 'base' {
      @include media-query($screen, $min-width) {
        // Adjust font size per screen
        $screen-font-size: map-get(device.$font-sizes, $screen);
        $screen-font-sub-size: map-get(device.$font-sub-sizes, $screen);
        $final-font-size: $screen-font-size; // Default for the screen
        @if $sizeVariant == 'smaller' {
          $final-font-size: $screen-font-size - $screen-font-sub-size;
        } @else if $sizeVariant == 'larger' {
          $final-font-size: $screen-font-size + $screen-font-sub-size;
        }
        $final-line-height: $final-font-size * map-get(device.$line-heights, $screen);

        font-size: $final-font-size;
        line-height: $final-line-height;
      }
    }
  }
}


// three options
.font-size-default {
  @include responsiveFontSize();
}
.font-size-small {
  @include responsiveFontSize('smaller');
}
.font-size-large {
  @include responsiveFontSize('larger');
}
