.form-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.input-add-wrapper{
    width: 100%;
    }   
div[additions]{
    display: flex;
    flex-direction: column;
} 
