    /* failed login */
    @mixin declined {
      @keyframes shake {
        0%, 100% {
        transform: translateX(0);
        }
        25%, 75% {
        transform: translateX(-12px);
        }
        50% {
        transform: translateX(12px);
        }
      }
    }
    