    <form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="input-boxes" >
    <div>
<span [ngClass]="{ 'normal-style': !alwaysVertical, 'error-style': alwaysVertical}">
    <div column>
  <!-- enter email -->
  @if(email$ | async; as emailInfo) {
  <mat-form-field  appearance="outline" >
    <input matInput formControlName="email"  placeholder="ex: name@institution.ca" type="email"
    id="skalarlyEmail" [appGlowBorder]="isGlowing" />
    <mat-label [class.condition-met]="emailInfo.emailFound">
         Academic Email</mat-label>
         @if(emailInfo?.error === 'notFound') {
    <mat-error>No account matches this email</mat-error>
         }
  <mat-icon matPrefix class="material-symbols-outlined" 
    [@spinChange]="emailInfo.emailState">
    @switch (emailInfo.emailState) {
      @case ('initial') { alternate_email }
      @case ('spinning') { update }
      @case ('check') { check_circle }
    }
  </mat-icon>
  @if(loginForm.get('email')?.value){
  <button matSuffix mat-icon-button (click)="loginForm.get('email')?.reset()">
    <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
  </button>
}
  </mat-form-field>
  }
  <div class="login-options">
    <!-- Keep skalar logged in -->
    <mat-checkbox [checked]="stayLoggedIn" color="primary" (change)="stayIn()" >
      Stay logged In
    </mat-checkbox>
    </div>
    </div>
  <div column>
   <!-- enter password -->
   @if(password$ | async; as passwordInfo){
  <mat-form-field appearance="outline">
    <mat-icon matPrefix class="material-symbols-outlined"
    [@lock]="passwordInfo.lockState" placeholder="Password">
      {{ !passwordInfo.isPasswordValid ? 'lock' : 'lock_open' }}
    </mat-icon>
 <input matInput formControlName="password" placeholder="Password" 
 [type]="visiblePassword ? 'text' : 'password'"
 #skalarlyPassword [appGlowBorder]="isGlowing" />
 <mat-label [class.condition-met]="loginForm.get('password')!.valid">
   Password</mat-label>
   @if(passwordInfo?.error === 'notFound'){
 <mat-error>Invalid password</mat-error>
   }
<button matSuffix mat-icon-button type="button"
(click)="$event.stopPropagation(); toggleVisibility()" [@rotate180]="visiblePassword"
matTooltip="{{ visiblePassword ? 'Hide Password' : 'Show Password' }}" >
    <mat-icon matSuffix class="material-symbols-outlined">
    {{ visiblePassword ? 'visibility' : 'visibility_off' }}
    </mat-icon>
</button>
</mat-form-field>
   }
<!-- forgot password -->
<div forgot>
<button type="button" (click)="navigate()" forgot>
  Forgot Password?
</button>
</div>
</div>
</span>
<!-- Login Button -->
<div class="login-standard-wrapper">
<button mat-raised-button type="submit" class="login"
(keydown.enter)="enterClicked()" [ngClass]="getIconConfig(progressState)">
@switch (progressState ) {
  @case ('default') {
   Login
  }
  @case ('loading') {
   Loading
  }
  @default {
    Login
  }
}
</button>
</div>

</div>
</div>
</form>
