@use 'login-logic-animations.component' as animation;
@use '../../../assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@use '../../../assistant-level-code/universal-reusable-styles/common' as common;
div[column] {
    @include common.common;
    padding: 3% 2% 0% 2%;
    width: 100%;
    mat-form-field {
    &:first-of-type { justify-content: flex-start; }
    &:not(:first-of-type) { justify-content: flex-end; }
  }
}
div[forgot]{
    margin-bottom: 4%;
    display: flex;
    justify-content: flex-end;
    button[forgot]{
      @include responsive.responsiveFontSize('smaller');
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  div[phrase]{
    text-align: center;
    @include common.common;
    color: grey;
    @include responsive.responsiveFontSize('smaller');
    align-items: center;
  }

  mat-checkbox {
    display: flex;
    justify-content: flex-start;
    div{
    @include responsive.responsiveFontSize('smaller');
    }
  }

  .normal-style{
    @include common.common(flex, center, column);
    align-items: baseline;
    @media only screen and (min-width: 600px) {
        @include common.common(flex, center, row);
    }
}
.error-style {
  @include common.common(flex, center, column);
}
  span[matPrefix] { margin-left: 15%; }
.login-options {
  @include common.common;
  text-align: center;
       }
       
.hide-border{ border-right: none; }
  .input-boxes:first-of-type { mat-checkbox { margin-left: 3%; } }
  .login-standard-wrapper {
    display: flex;
    width: 100%;
    padding-bottom: 5%;
    justify-content: center; 
    button.login {
    @include responsive.responsiveFontSize();
    background-color: var(--firstChoice); 
    color: var(--basicText);
    border-radius: 25px; 
    padding: 12px 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 75%;
    position: relative; 
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
      transform: skewX(-15deg);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0; 
      right: 100%;
      bottom: 0;
      background-image: linear-gradient(to left, var(--pairingColor), var(--secondChoice));
      transition: right 0.5s ease-in-out;
      z-index: -1; 
    }
    &:hover:before {
      right: 0; 
    }

  &.fingerprint-border-declined {
      background-color: var(--error);
      @include animation.declined;
      animation: shake .5s linear;  
    }
    &.fingerprint-border-approved { 
      text-shadow: 0 0 5px var(--approved);
      transform: scale(1.7);
    }
  }
}
