@use 'login-logic-animations.component' as animation;
@use '../../../assistant-level-code/universal-reusable-styles/break-points' as device;
@use '../../../assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@use '../../../assistant-level-code/universal-reusable-styles/common' as common;
div[column] {
    @include common.common;
    padding: 3% 1% 0% 1%;
  
    &:first-of-type {
      mat-form-field {
        justify-content: flex-start;
      }
    }
    &:not(:first-of-type) 
      mat-form-field{
      justify-content: flex-end;
    }
  }
div[loginButton]{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include responsive.responsiveFontSize()
  }
div[forgot]{
    display: flex;
    justify-content: flex-end;
    button[forgot]{
      align-items: center;
      background: none;
      border: none;
      font-style: italic;
      cursor: pointer;
    }
  }
.mat-mdc-checkbox{ 
    display: flex;
  }  
  .normal-style{
  @include common.common(flex, column);
  align-items: baseline;
  @media only screen and (min-width: map-get(device.$device-sizes, 'tablet')) {
   @include common.common(flex, row);
  }}
  .error-style{
    @include common.common(flex, column);
    align-items: baseline;
  }
  span[matPrefix] { 
    margin-left: 15%;
  }
.login-options {
  display: flex;
  align-items: center;
  text-align: center;
       }
.input-boxes{
    display: flex;
    justify-content: center;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;    
    border-image: linear-gradient(135deg, var(--firstChoice), var(--secondChoice)) 1 stretch;
    padding: 0% 10% 5%;
    margin: 1%;
      &:first-of-type {
        mat-checkbox {
        margin-left: device.$input-margin; 

        }
      }
      &:last-of-type{
        button[forgot] {
        margin-right: device.$input-margin; 
      }
    }
    div {
      width: 100%;
    }
  }
  .fingerprint-border-initial {
    &::before {
        @include animation.initial;
        animation: initialGlow 1.5s ease-in-out;
    }
    .initial {
      color: var(--firstChoice);
    }
  }
  .fingerprint-border {
    &::before {  
      @include animation.magic;
      animation: rotateAndShimmer 1.5s linear forwards;
    }
    .loading {
      color: var(--secondChoice);
    }
  }
  .fingerprint-border-declined {
    @include animation.declined;
    animation: shake .5s linear;
    .declined {
      color: var(--error);
    }
  }
  .fingerprint-border-approved {
    @include common.approved;
    .approved{
      color: var(--approved);
    }
  }
