// Device Breakpoints
$device-sizes: (
 base: 0px, // portrait phones
 tablet: 600px, // landscape phones
 labtop: 768px, // tablets
 desktop: 992px, // desktop
 tv: 1200px // tv and extra large screen 
);
// corresponding font sizes
$font-sizes: (
  base: 1rem,
  tablet: 1.125rem,
  laptop: 1.2rem,
  desktop: 1.3rem,
  tv: 1.4rem
);
// sub font sizes chart
$font-sub-sizes: (
  base: 10%,
  tablet: 10%,
  laptop: 20%,
  desktop: 25%,
  tv: 30%
);
// chip sizes based off font
$chip-sizes: (
   base: 15%,
   tablet: 25%,
   laptop: 35%,
   desktop: 45%,
   tv: 55%
);
// pre packed common requirements
@mixin fontAdjustments ($font-size) {
    font-size: $font-size;
    line-height: $font-size * 4.5;
}
// 
@mixin responsiveFontSize {
  $font-size: map-get($font-sizes, 'base');
  @each $screen, $min-width in $device-sizes {
    @if $screen != 'base' {
      @media (min-width: #{$min-width}) {
        $font-size: map-get($font-sizes, $screen);
      }
    }
  }
}
