// common requirements
$all: 100%;
@mixin common($flex: flex, $portrait: column){
    display: $flex;
    justify-content: center;
    flex-direction: $portrait;
}

@mixin pageSize{
    // maybe use min-height: 100vh;
    height: 100vh;
    width: $all;
    box-sizing: border-box;
}
$colors: (
  '#287182', // Darker Mystic Turquoise
  '#7a5a85', // Darker Ethereal Lavender
  '#3b5a91', // Darker Celestial Blue
  '#b0365a', // Darker Twilight Magenta
  '#323232', // Eclipse Black
  '#bcbcbc', // Greyed Frost White
  '#b0892b', // Darker Glimmering Gold
  '#1e4379', // Darker Sapphire Blue
  '#8f8f8f', // Darker Moonlit Silver
  '#2a8f65', // Darker Galactic Green
  '#d67b8b', // Darker Stardust Pink
  '#6ea4d4', // Darker Shimmering Sky
  '#000080', // Nebula Navy
);
:root {
  --pairingColor: #2F4F4F;
  --pairingColor2: #36454F;
}
@function random-color() {
  $index: random(length($colors));
  @return nth($colors, $index);
}