// common requirements
$all: 100%;
@mixin common($flex: flex){
    display: $flex;
    justify-content: center;
}
@mixin pageSize{
    // maybe use min-height: 100vh;
    height: 100vh;
    width: $all;
    box-sizing: border-box;
}
