// common requirements
$all: 100%;
@mixin common($flex: flex, $portrait: column){
    display: $flex;
    justify-content: center;
    flex-direction: $portrait;
}

@mixin pageSize{
    // maybe use min-height: 100vh;
    height: 100vh;
    width: $all;
    box-sizing: border-box;
}
$colors: (
  '#3ab7bf', // Mystic Turquoise
  '#9b72aa', // Ethereal Lavender
  '#507dbc', // Celestial Blue
  '#c94f7c', // Twilight Magenta
  '#323232', // Eclipse Black
  '#f4f4f4', // Frost White
  '#d4af37', // Glimmering Gold
  '#2554C7', // Sapphire Blue
  '#C0C0C0', // Moonlit Silver
  '#3CB371', // Galactic Green
  '#FFC0CB', // Stardust Pink
  '#87CEEB', // Shimmering Sky
  '#000080', // Nebula Navy
);
:root{
--pairingColor: #2F4F4F;
--pairingColor2: #36454F;
}
@function random-color() {
  $index: random(length($colors));
  @return nth($colors, $index);
}