<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Specific Feed</title>
</head>

<!-- For mobile
   when scrolling down hide the top nav bar but when
starting to scroll back up have it appear
like you tube -->

<!-- Also have each post load in/fade in when first viewed and in scroll view -->
<body>
<div *ngFor="let post of posts; index as i; trackBy: trackByPosts;">

    <!-- could add some neat animations using [id]=i -->
    <mat-card [id]=i>

    </mat-card>
</div>

<!-- if scrolled > 100px will appear -->
<ng-template>
<div id="scrollToTop">
<button mat-icon-button  (click)="scrollToTop()">
    <i class="fa-solid fa-circle-up"></i>
</button>
</div>
</ng-template>
</body>
</html>