<progress id="progress" value="32" max="100"> </progress>

<form [formGroup]="signUpForm">
  <!-- username -->
  <mat-form-field>
    <mat-label>
      <i [class.condition-met]="createPassword.valid" matSuffix
       class="fa-solid fa-user-graduate"></i>
    </mat-label>
    <input matInput type="text" placeholder="Username" required
    formControlName="username" >
    <ng-container *ngIf="signUpForm.get('username')?.hasError">
    <mat-error *ngIf="signUpForm.get('username')?.hasError('uniqueUserNameError')">Username is already in use. Please try another</mat-error>
    <mat-error *ngIf="signUpForm.get('username')?.hasError('patternUsernNameError')">Only letters, numbers and underscores are allowed</mat-error>
  </ng-container>
  </mat-form-field>
<!-- create password -->
<mat-form-field>
    <mat-label>
        <i [class.condition-met]="password.valid" 
         matSuffix class="fa-solid fa-lock"></i>
    </mat-label>
    <input matInput type="password" placeholder="Password" required
    formControlName="password">
    <!-- toggle password visibility -->
    <button matSuffix mat-icon-button  [ngClass]="{ 'showing': visiblePassword }"
    (click)="toggleVisibility()"
    matTooltip="{{ visiblePassword ? 'Show Password' : 'Hide Password' }}" >
      <i class="fa-solid fa-eye"></i>
    </button>
</mat-form-field>


  <!-- Password Requirements -->
  <!-- unrendered when no value or conditons are met -->
  <ng-template *ngIf="signUpForm.get('password')?.value && signUpForm.get('password')?.invalid">
  <div class="password-requirements">
    <p>Password Requirements:</p>
    <ul>
      <li #length>At least 8 characters</li>
      <li #uppercase>At least one uppercase letter (A-Z)</li>
      <li #lowercase>At least one lowercase letter (a-z)</li>
      <li #digit>At least one digit (0-9)</li>
      <li #special>At least one special character (e.g., @#$%^&+=!)</li>
    </ul>
  </div>
</ng-template>
</form>
<!-- finish login angular expert -->