<div class="form-wrapper">
    <mat-form-field appearance="outline">
    @if(label){
        <mat-label>
          {{ label }}
        </mat-label>
      }
      @if(icon){
        <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
         }
      <mat-chip-grid #chipGrid aria-label="Multiple inputs autocomplete">
     @for (input of inputObjects.value; let i = $index; track input) {
      <mat-chip-row 
        [editable]="true"
        (edited)="edit(input, $event, i)"
        [aria-description]="'click to edit ' + input">
        {{input}}
        <button matSuffix mat-icon-button class="material-symbols-outlined" 
       (click)="remove(i)" [attr.aria-label]="'remove ' + input">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
</mat-chip-grid>
  <input matInput
  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  [matChipInputFor]="chipGrid" 
  (matChipInputTokenEnd)="add($event)"
  [matAutocomplete]="auto"
  [formControl]="filterControl"  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="emitSelectedChange($event)">
    @for (link of filteredList$ | async; track link) {
      <mat-option [value]="link.name" >
      <mat-icon class="material-symbols-outlined">{{link.url}}</mat-icon>
        <span [innerHTML]="link.name | titlecase | bold: filterControl.value!">
        </span></mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
</div>