@use '../../../assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@mixin stack-justify($flex: flex, $direction: column, $content: center){
    display: $flex;
    flex-direction: $direction;
    justify-content: $content;
  }   
div[title] {
    @include responsive.responsiveFontSize('smaller');
    @include stack-justify(flex, unset, center);
    margin-top: 1%;
    font-weight: bold;
  }
  ul[intro]{
    @include responsive.responsiveFontSize('smaller');
    @include stack-justify(flex, unset, flex-start);
    border-bottom: 2px solid #000; 
  }