#refreshContainer {
    height: 100px; /* Adjust the height as needed */
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    transition: transform 0.3s;
    transform-origin: 50% 0;
  }
  