@use '../../assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@mixin stack-justify($flex: flex, $direction: column, $content: center){
  display: $flex;
  flex-direction: $direction;
  justify-content: $content;
}
.input-individual, .input-list-inputs{
  @include stack-justify;
  align-items: center;
}
.input-list{
display: flex;
flex-direction: column;
@media only screen and (min-width: 767px){
border: 2px groove;
background-color: var(--background);
padding: 2%;
border-radius: 8px;
}
}
.input-list-first{
  margin-top: 1%;
}
.input-list-networks{
@include stack-justify(flex, column, flex-start);
width: 100%;
}
app-signup-titles{
  display: flex;
  width: 100%;
  flex-direction: column
}
.center{
  @include stack-justify(flex, unset, center);
}
button[profilePic]{
  display: flex;
}
button[mat-fab] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: none;
  background-color: var(--secondChoice);
  mat-icon {
      color: white;
      margin-right: 0px;
  }
}
.image-selection{
  @include stack-justify(flex, unset, space-between);
  align-items: center;
.image-individual{
  @include stack-justify;
  text-align: center;
  align-items: center;
}
}
.stepper{
  @include stack-justify;
  height: max-content;
}
.two-by-two{
  margin-top: 1%;
  width: 100%;
  @media only screen and (min-width: 767px){
  @include stack-justify(flex, row, space-around);
  align-items: center;
  }
  app-reusable-input-dynamic{
    width: 90%;
    padding: 0 2%;
  }
}
mat-stepper {
  @include stack-justify;
  @media only screen and (max-width: 768px){
  border-radius: 0px;
  background-color: unset;
  border: unset;
  }
   .mat-horizontal-stepper-header:first-of-type{
    border-top-left-radius: 25px;
  }
  .mat-horizontal-stepper-header:last-of-type{
    border-top-right-radius: 25px;
  }
}

  button{
  &[matStepperNext]{
      color: var(--secondChoice);
      @include responsive.responsiveFontSize();
      &[mat-raised-button]{
        background-color: var(--secondChoice);
        color: white;
      }
      &[submit]{
        transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0; 
      right: 100%;
      bottom: 0;
      border-radius: 8px;
      background-image: linear-gradient(to left, var(--approved), var(--firstChoice));
      transition: right 0.5s ease-in-out;
      z-index: -1; 
    }
    &:hover:before {
      right: 0; 
    }
      }
    }
    &[matStepperPrevious] {
      color: var(--secondChoice);
      @include responsive.responsiveFontSize();
    }
  }
  form {
    width: 100%;
    @include stack-justify;
  }
  .nav-wrapper{
    @include stack-justify(flex, row, space-around);
    margin-top: 4%;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  