@defer { 
  <div class="stepper">
  <mat-stepper [linear]="false" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon class="material-symbols-outlined">check</mat-icon>
    </ng-template>
<mat-step [stepControl]="instituitionForm" [label]="this.orientationService.screen() ? 
'' : 'Choose your instituition'">
  <form [formGroup]="instituitionForm" (ngSubmit)="createAccount()">
<ng-template matStepContent>
  <div class="input-list">
    <app-signup-titles [intro]="intro" [title]="title"></app-signup-titles>
<app-reusable-inputs [label]="instituitionForm.get('country')?.value" class="input-list-inputs input-list-first"
[filler]="instituitionForm.get('country')?.value"
 icon="flag_circle" [initialList]="this.institutionInfoService.countries()"
(selectedChange)="updateCountrySelection($event)">
</app-reusable-inputs >
<!-- if province-state needs to be chosen -->
@if(instituitionForm.get('country')?.value) {
<app-reusable-inputs [label]="'Region of ' + (instituitionForm.get('country')?.value)" 
icon="explore" [initialList]="this.institutionInfoService.region()"
(selectedChange)="regionSelection($event)" >
</app-reusable-inputs >
@if(instituitionForm.get('region')?.value){
  <app-reusable-inputs [label]="'Which type of school in' + ' ' + 
  (instituitionForm.get('region')?.value) + '?'" 
  icon="things_to_do" [initialList]="this.institutionInfoService.typesOfInst()"
  (selectedChange)="typeInstituition($event)">
  </app-reusable-inputs >
@if(instituitionForm.get('type')?.value){
  <app-reusable-inputs [label]="'Official selection'" 
  icon="signature" [initialList]="this.institutionInfoService.instName()"
  (selectedChange)="chosenInstituition($event)">
  </app-reusable-inputs>
  }  

}
}
<div class="nav-wrapper">
  <button mat-stroked-button matStepperPrevious (click)="navigate()">Login</button>
  <button mat-raised-button matStepperNext>Next</button>
</div> 

</div>
</ng-template>
</form>
</mat-step>
<!-- 2 -->
<mat-step [stepControl]="signUpForm" [label]="this.orientationService.screen() ? 
'': 'Account Info' ">  
<form [formGroup]="signUpForm" (ngSubmit)="createAccount()">
  <ng-template matStepContent>
    <div class="input-list">
  <app-signup-titles [intro]="intro2" [title]="title2"></app-signup-titles>
  <app-reusable-inputs class="input-list-inputs input-list-first" [isValid]="isValid"  (valueChange)="onValueChange($event)"
    label="Username" placeholder="Username" icon="account_circle"
  [error]="getError('username') | errorPipe"
  ></app-reusable-inputs>
  @if(signUpForm.get('username')?.valid){ 
  <app-signup-titles [intro]="intro3" [title]="title3"></app-signup-titles>
  <app-reusable-inputs class="input-list-inputs" [isValid]="isValid" (valueChange)="onValueChange($event)"
   label="Email" placeholder="Email" icon="alternate_email"
  [error]="getError('email') | errorPipe" [hint]="'Match Insitution chosen'"
></app-reusable-inputs>
  }
  @if(signUpForm.get('email')?.valid){ 
  <app-reusable-inputs class="input-list-inputs" [controlType]="'password'" label="Password" placeholder="Password" 
  icon="lock"
  (valueChange)="onValueChange($event)"></app-reusable-inputs>
   } 
  <div class="center">
  <button mat-raised-button type="submit" [disabled]="signUpForm.invalid" initial>
    Validate
  </button>
</div>
<div class="nav-wrapper">
  <button mat-stroked-button matStepperPrevious type="button">Back</button>
  <!-- allow next when validated -->
  <button mat-raised-button matStepperNext type="button">Next</button>
</div>
    <!-- Password Requirements -->
</div>
</ng-template>
</form>
</mat-step>
<!-- Onto Validation 7 digits from email-->
<!-- 3 -->
<mat-step [stepControl]="personalForm" [label]="this.orientationService.screen() ? 
'' : 'Profile Info'">
  <form [formGroup]="personalForm" (ngSubmit)="createAccount()">
  <ng-template matStepContent>
    <div class="input-list">
    <app-signup-titles [intro]="intro4" [title]="title4"></app-signup-titles>
          <div>
          <button mat-button [matMenuTriggerFor]="menu" profilePic>
          Add A Profile Picture
            <mat-icon class="material-symbols-outlined" >account_circle</mat-icon>
          </button>
        </div>

          <mat-menu #menu="matMenu">
          <div class="image-selection">
            <!-- Profile Pic -->
            <button mat-menu-item>
            <div class="image-individual">
    <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #fileInput>
Upload Photo
    <button mat-icon-button (click)="fileInput.click()">
      <mat-icon class="material-symbols-outlined">
      attach_file
    </mat-icon>
</button>
</div>
</button>
<button mat-menu-item>
<div class="image-individual">
    Take Photo
    <button mat-icon-button (click)="onCameraClick()">
      <mat-icon class="material-symbols-outlined">
      add_a_photo
    </mat-icon>
    </button>
  </div>
  </button>
  </div>
</mat-menu>
    @if(imagePreview){
    <img [src]="imagePreview" class="image-preview">
    }
    <app-reusable-inputs [label]="'Full Name'" ></app-reusable-inputs>
    <app-reusable-inputs [label]="'Bio'" [default]="false"></app-reusable-inputs>
    <!-- lloking to obtain have a drop down of types of degrees with autocomplete
       <app-reusable-inputs [label]=""></app-reusable-inputs> -->
       <div class="input-individual">
    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- <div toggle>
    <mat-slide-toggle color="primary"> Private Account</mat-slide-toggle>
    </div> -->
    <mat-divider></mat-divider>
    <div class="input-list-networks">
    <div>Connect other networks</div>
    <app-reusable-input-autocomplete label="Social Link" (inputChangeObject)="updateUrl($event)"
     icon="share"></app-reusable-input-autocomplete>
    </div>
  </div>
  <div class="nav-wrapper">
    <button mat-stroked-button matStepperPrevious type="button">Back</button>
    <button mat-raised-button matStepperNext type="button">Next</button>
  </div> 
</div>
  </ng-template>
</form>
</mat-step>
<!-- last -->
<mat-step [stepControl]="infoForm" [label]="this.orientationService.screen() ? 
'' : 'Academic Info' ">
  <form [formGroup]="infoForm" (ngSubmit)="addSkalarInfo()">
  <ng-template matStepContent>
    <div class="input-list">
    <app-signup-titles [intro]="intro5" [title]="title5"></app-signup-titles>
            <div class="two-by-two input-list-first">
      <app-reusable-input-dynamic  (inputChange)="updateMajor($event)" label="Major" icon="school"></app-reusable-input-dynamic>
      <app-reusable-input-dynamic (inputChange)="updateMinor($event)" label="Minor" icon="book"></app-reusable-input-dynamic>
    </div>
    <mat-divider></mat-divider>
    <div class="two-by-two">
      <app-reusable-input-dynamic (inputChange)="updateSport($event)" label="Sport" icon="sports"></app-reusable-input-dynamic>
      <app-reusable-input-dynamic  (inputChange)="updateClub($event)" label="Club" icon="group"></app-reusable-input-dynamic>
      </div>
      <mat-divider></mat-divider>

      <div class="two-by-two">
      <app-reusable-input-dynamic (inputChange)="updateComp($event)" label="Completed Course" icon="verified"></app-reusable-input-dynamic>
      <app-reusable-input-dynamic  (inputChange)="updatePur($event)"  label="Pursuing Course" icon="add_task"></app-reusable-input-dynamic>
      </div>
  
      <div class="nav-wrapper">
        <button mat-stroked-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext submit [disabled]="infoForm.valid">Create</button>
      </div> 
    </div>
  </ng-template>
</form>
</mat-step>
</mat-stepper>
</div>
}@placeholder { 
 <app-skeleton-loader-signup></app-skeleton-loader-signup>
  }
