@use '../../assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@use '../../assistant-level-code/universal-reusable-styles/common' as common;

.input-list .input-individual{
  @include common.common;
  align-items: center;
}
.input-list-inputs{
  @include common.common;
}
.input-list-first{
  margin-top: 3%;
}
.back{
  box-shadow: 0 0 2px 2px var(--secondChoice);
  margin: 5% 0% 0% 5%;
  color: black;
  z-index: 2;
}
.center{
  display: flex;
  justify-content: center;
}
.image-individual{
  display: flex;
  align-items: center;
}
.stepper{
  display: flex;
  flex-direction: column;
}
.two-by-two{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .mat-stepper-header-container {
    .mat-step-header {
      display: none; 
  }
  }
}
mat-card{
  display: flex;
  margin-bottom: 3%;
}
mat-stepper {
  display: flex;
  flex-direction: column;
  font-family: var(--skalarly-font);
  @media only screen and (min-width: 768px) {
    mat-step {
      margin-bottom: 0; 
    }
    .mat-vertical-stepper-content {
      border-left: none; 
      padding-left: 0;
    }
    .mat-stepper-vertical-line {
      display: none; 
    }
  }}
.image-selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  button{
  &[matStepperNext]{
      background-color: var(--firstChoice);
      color: white;
      @include responsive.responsiveFontSize();
    }
    &[matStepperPrevious] {
      background-color: var(--secondChoice);
      color: white;
      @include responsive.responsiveFontSize();
    }
  }
  
 
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button[mat-raised-button] {
      background-color: #007BFF;
      color: #fff;
      &:hover {
        background-color: darken(#007BFF, 10%);
      }
      &:disabled {
        background-color: #bbb;
        color: #666;
      }
    }
  }
  .nav-wrapper{
    display: flex;
    justify-content: space-between;
  }
  