@use '../../assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
@use '../../assistant-level-code/universal-reusable-styles/common' as common;

@mixin stack{
  display: flex;
  flex-direction: column;
}
.input-list .input-individual{
  @include common.common;
  align-items: center;
}
.input-list-networks{
@include stack;
width: 100%;
}
.input-list-inputs{
  @include common.common;
}
.input-list-first{
  margin-top: 3%;
}
.back{
  box-shadow: 0 0 2px 2px var(--secondChoice);
  margin: 5% 0% 3% 5%;
  z-index: 2;
}
.center{
  display: flex;
  justify-content: center;
}
button[profilePic]{
  display: flex;
}
.image-individual{
  @include stack;
  text-align: center;
  align-items: center;
}
.stepper{
  @include stack;
  @media only screen and (min-width: 767px){
    padding: 5% 15% 0% 15%;
    }
}
.two-by-two{
  @media only screen and (min-width: 767px){
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  }
}

div[title] {
    @include responsive.responsiveFontSize();
    font-weight: bold;
    text-align: center;
}
div[header]{
  background-color: var(--basicText);
}

mat-stepper {
  @include stack;
   background-color: var(--basicText);
   border-radius: 8px;
   border: 1px solid #e0e0e0;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 768px){
  border-radius: 0px;
  background-color: unset;
  border: unset;
  }
   .mat-horizontal-stepper-header:first-of-type{
    border-top-left-radius: 25px;
  }
  .mat-horizontal-stepper-header:last-of-type{
    border-top-right-radius: 25px;

  }

}
.image-selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  button{
  &[matStepperNext]{
      background-color: var(--secondChoice);
      color: var(--basicText);
      @include responsive.responsiveFontSize();
      &[type="submit"]{
        transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0; 
      right: 100%;
      bottom: 0;
      background-image: linear-gradient(to left, var(--approved), var(--firstChoice));
      transition: right 0.5s ease-in-out;
      z-index: -1; 
    }
    &:hover:before {
      right: 0; 
    }
      }
    }
    &[matStepperPrevious] {
      background-color: var(--secondChoice);
      color: var(--basicText);
      @include responsive.responsiveFontSize();
    }
  }
  form {
    width: 100%;
    @include stack;
  }
  .nav-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
  }
  