<progress id="progress" [value]="progressValue" max="100"> </progress>
<!-- choosing the instituiton sets email varification
have canada, usa at top  -->
<app-reusable-dropdown [label]="'Country of study'" [List$]="country$"
(selectedChange)="updateCountrySelection($event)" [hint]="'Which country do you study in?'">
</app-reusable-dropdown>
<!-- if province-state needs to be chosen -->
<ng-container *ngIf="displayStateProvince">
<app-reusable-dropdown [label]="'State or Province'"  [List$]="region$"
(selectedChange)="stateSelection($event)"  [hint]="'Which State or Province is your school in?'">
</app-reusable-dropdown>
</ng-container>
<!-- Institution selection -->
<ng-container *ngIf="institutionsLoaded">
<app-reusable-dropdown [label]="'Where do you attend school?'" [List$]="institutions$"
(selectedChange)="chosenInstituition($event)" [hint]="'Current academic instituiton'">
</app-reusable-dropdown>
</ng-container>
<!-- make this form in a reusable file!! -->
<form [formGroup]="signUpForm" (ngSubmit)="createAccount()">
  <app-form-field [control]="signUpForm.get('username')" label="Username" placeholder="Username" icon="fa-solid fa-user-graduate"></app-form-field>
  <app-form-field [control]="signUpForm.get('email')" label="Email" placeholder="Email" icon="fa-solid fa-at"></app-form-field>
  <app-form-field [control]="signUpForm.get('password')" label="Password" placeholder="Password" icon="fa-solid fa-lock" controlType="password"></app-form-field>
<mat-form-field>
    <mat-label>
        <i [class.condition-met]="signUpForm.get('password')?.valid" 
         matSuffix class="fa-solid fa-lock"></i>
    </mat-label>
    <input matInput type="password" placeholder="Password" required
    formControlName="password" [value]="signUpForm.get('password')?.value | removeSpaces"> 
    <!-- toggle password visibility -->
    <button matSuffix mat-icon-button  [ngClass]="{ 'showing': visiblePassword }"
    (click)="toggleVisibility()"
    matTooltip="{{ visiblePassword ? 'Show Password' : 'Hide Password' }}" >
      <i class="fa-solid fa-eye"></i>
    </button>
</mat-form-field>


  <!-- Password Requirements -->
  <!-- unrendered when no value or conditons are met -->
  <ng-template *ngIf="signUpForm.get('password')?.value && signUpForm.get('password')?.invalid">
  <div class="password-requirements">
    <p>Password Requirements:</p>
    <ul>
      @for(requirement of passwordRequirements; track requirement.key){
      <li [class.condition-met]="requirement.key">
    {{ requirement.text }}
  </li>
}
    </ul>
  </div>
</ng-template>
<button mat-raised-button type="submit" [disabled]="signUpForm.invalid">
  Validate
</button>
</form>
<!-- Onto Validation 7 digits from email-->
