<div>
  <div>
    <button mat-icon-button (click)="navigate()" class="back">
    <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
    </button>
    </div>
  <mat-stepper orientation="horizontal" #stepper >
    <!-- only step when form is valid -->
<mat-step  [stepControl]="instituitionForm">
  <ng-template matStepLabel>Choose your instituition</ng-template>
  <form [formGroup]="instituitionForm" (ngSubmit)="createAccount()">
    <div class="input-list">
  <mat-card>
      <mat-card-content>
<app-reusable-dropdown [countryApi]="true" [label]="'Country'" [List$]="country$" icon="flag_circle"
(selectedChange)="updateCountrySelection($event)" [title]="'Which country do you study in?'">
</app-reusable-dropdown>
<!-- if province-state needs to be chosen -->
@if(displayStateProvince) {
<app-reusable-dropdown [label]="'State or Province'"  [List$]="region$" icon="explore"
(selectedChange)="stateSelection($event)"  [title]="'Which State or Province is your school in?'">
</app-reusable-dropdown>
}
<!-- Institution selection -->
@if(institutionsLoaded){
<app-reusable-dropdown [label]="'Where do you attend school?'" [List$]="institutions$" icon="things_to_do"
(selectedChange)="chosenInstituition($event)" [title]="'Current academic instituiton'">
</app-reusable-dropdown>
}
</mat-card-content>
</mat-card>
<div class="nav-wrapper">
  <button mat-button matStepperPrevious type="button" (click)="navigate()">Back</button>
<button mat-button matStepperNext type="button">Next</button>
</div>
</div>
</form>
</mat-step>
<!-- 2 -->
<mat-step [stepControl]="signUpForm">  
  <ng-template matStepLabel>Account Info</ng-template>
<form [formGroup]="signUpForm" (ngSubmit)="createAccount()">
  <div class="input-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Credentials:</mat-card-title>
      </mat-card-header>
        <mat-card-content>
  <app-reusable-inputs class="input-individual" [isValid]="isValid"  (valueChange)="onValueChange($event)"
    label="Username" placeholder="Username" icon="account_circle"
  [error]="getError('username') | errorPipe"
  ></app-reusable-inputs>

  <app-reusable-inputs class="input-individual" [isValid]="isValid"  (valueChange)="onValueChange($event)"
   label="Email" placeholder="Email" icon="alternate_email"
  [error]="getError('email') | errorPipe" [hint]="'Match Insitution chosen'"
></app-reusable-inputs>

  <app-reusable-input-password class="input-individual" [control]="passwordControl" label="Password" placeholder="Password" 
  icon="lock"
  (controlValueChanged)="handleValueChange('password', $event)"></app-reusable-input-password>
  <div class="center">
  <button mat-raised-button type="submit" [disabled]="signUpForm.invalid" initial>
    Validate
  </button>
</div>
</mat-card-content>
</mat-card>
    <!-- Password Requirements -->
</div>
</form>
<div class="nav-wrapper">
  <button mat-button matStepperPrevious type="button">Back</button>
  <button mat-button matStepperNext type="button" (click)="sendEmail()">Next</button>
</div>
</mat-step>
<!-- Onto Validation 7 digits from email-->
<!-- 3 -->
<mat-step [stepControl]="personalForm">
  <ng-template matStepLabel>Profile Info</ng-template>
  <form [formGroup]="personalForm" (ngSubmit)="createAccount()">
  <div class="input-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Personalize:</mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <div class="image-selection">
            <div class="image-individual">
    <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #fileInput>
    Upload Profile Photo
    <button mat-icon-button (click)="fileInput.click()">
      <mat-icon class="material-symbols-outlined">
      attach_file
    </mat-icon>
  </button>
</div>
<div class="image-individual">
    Take Profile Photo
    <button mat-icon-button (click)="onCameraClick()">
      <mat-icon class="material-symbols-outlined">
      add_a_photo
    </mat-icon>
    </button>
  </div>
  </div>

    @if(imagePreview){
    <img [src]="imagePreview" class="image-preview">
    }

    <app-reusable-inputs [label]="'Full Name'"></app-reusable-inputs>
    <app-reusable-inputs [label]="'Bio'" [default]="false"></app-reusable-inputs>
    <!-- lloking to obtain have a drop down of types of degrees with autocomplete
       <app-reusable-inputs [label]=""></app-reusable-inputs> -->
       <div class="input-individual">
    <app-inputs-dynamic [inputsArray]="getArray('links')" placeholder="Social Link" [controlType]="'url'"></app-inputs-dynamic>
    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-slide-toggle color="primary"> Private Account</mat-slide-toggle>
  </div>
 </mat-card-content>
 </mat-card>
  </div>
</form>
  <div class="nav-wrapper">
  <button mat-button matStepperPrevious type="button">Back</button>
  <button mat-button matStepperNext type="button">Next</button>
</div>
</mat-step>
<mat-step [stepControl]="skalarInfoForm">
  <ng-template matStepLabel>Academic Info</ng-template>
    <form [formGroup]="skalarInfoForm" (ngSubmit)="addSkalarInfo()">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Specialization:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
      <app-inputs-dynamic [inputsArray]="getArray('major')" placeholder="Major" icon="school"></app-inputs-dynamic>
      <app-inputs-dynamic [inputsArray]="getArray('minor')" placeholder="Minor" icon="book"></app-inputs-dynamic>
      <app-inputs-dynamic [inputsArray]="getArray('sport')" placeholder="Sport" icon="sports"></app-inputs-dynamic>
      <app-inputs-dynamic [inputsArray]="getArray('club')" placeholder="Club" icon="group"></app-inputs-dynamic>
      <app-inputs-dynamic [inputsArray]="getArray('coursesCompleted')" placeholder="Completed Course" icon="verified"></app-inputs-dynamic>
      <app-inputs-dynamic [inputsArray]="getArray('coursesPursing')" placeholder="Pursuing Course" icon="add_task"></app-inputs-dynamic>
      <!-- <input accoldates, certificates, publishings,... /> -->
      </mat-card-content>
      </mat-card>
    </form>

    <div class="nav-wrapper">
    <button mat-button matStepperPrevious type="button">Back</button>
    <button mat-raised-button type="submit" [disabled]="skalarInfoForm.invalid">Create</button>
  </div>
</mat-step>
</mat-stepper>
</div>