@use '../universal-reusable-styles/break-points' as device;
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // Define styles for the grid items 
  .grid-item {
    flex-basis: calc(50% - 10px); /* Adjust as needed */
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
  }
  // Media query for responsiveness 
  @media (max-width: device.$tablet) {
    .grid-item {
      flex-basis: calc(100% - 10px); /* Full width for smaller screens */
    }
  }
  