    <div class="error-screen">
        <h1 mat-card-title>Hello Fellow Skalar</h1>
        <div mat-card-subtitle>We have a message for you</div>
    <div >
    <div mat-dialog-content>
    <div class="error-message">{{ data.message }}</div>
    <mat-divider></mat-divider>
    </div>
        <app-login-logic [alwaysVertical]="true">
        </app-login-logic>
        <footer>
        Don't have an account?
        <button mat-button 
        routerLink="/sign-up">Join Skalarly</button>
    </footer>
    </div>
</div>
