@use '/skalarly-frontend/src/app/assistant-level-code/universal-reusable-styles/responsive-mixin' as responsive;
.error-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  button{
    color: var(--pairingColor);
  }
div[mat-card-title] {
    @include responsive.responsiveFontSize('large');
    text-align: center;
    }
div[mat-card-subtitle] {
    @include responsive.responsiveFontSize('smaller');
    color: #666;
    text-align: center;
      }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      @include responsive.responsiveFontSize();
      border-image: linear-gradient(308deg, var(--firstChoice), var(--secondChoice)) 1 stretch;
    }
  
    div[mat-dialog-content] {
        padding: 15px;
        text-align: center;
        color: #333;
        font-size: 1.1rem;    
        .error-message {
          color: rgb(243, 100, 95);
          font-weight: 500;
          line-height: 1.5;
        }
    }
    footer{
    padding-left: 3%;
    }
    h2 {
        @include responsive.responsiveFontSize('large');
        color: #3b5998; 
      }
  }