    <div class="form-wrapper">
        <!-- filter by typing -->
        <mat-form-field appearance="outline">
          @if(label){
          <mat-label>{{ label }}</mat-label>
          }
          @if(icon){
            <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
             }
        <input matInput type="text" [formControl]="typedFilter" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" >
          @for(list  of (filteredList$ | async); let i = $index; track list){
            <mat-option (click)="newSelection(list)"  
            [value]="list">
                <span 
                [innerHTML]="list | titlecase | bold: typedFilter.value! ">
                </span>
            </mat-option>
        }
        </mat-autocomplete>
        @if(typedFilter.value){
          <button matSuffix mat-icon-button (click)="resetFilter()">
            <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
          </button>
        }
        </mat-form-field>
        @if(hint !== null ){
          <mat-hint>{{ hint }}</mat-hint>
         }
      </div>
