<div class="input-add-wrapper">
  @if(controlType === 'text'){
    <mat-form-field appearance="outline">
      <mat-label>
        {{ placeholder }}
      </mat-label>
      @if(icon){
        <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
         }
      <input matInput [type]="controlType" [formControl]="controlOrGroup0"/>
    </mat-form-field>
@for (controlOrGroup of inputsArray.controls; let i = $index; track controlOrGroup){
  @if(isFormControl(controlOrGroup)){
    <mat-form-field appearance="outline">
      <mat-label>
        {{ placeholder }}
      </mat-label>
      @if(icon){
        <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
         }
      <input matInput [type]="controlType" [formControl]="controlOrGroup"/>
    </mat-form-field>
    @if (inputsArray.length > 1) {
        <button mat-icon-button (click)="removeInput(i)">
      <mat-icon class="material-symbols-outlined">cancel</mat-icon>
        </button>
    }
}
}
  }
<!-- url -->
@if(controlType === 'url'){
  @for (controlOrGroup of inputsArray.controls; let i = $index; track controlOrGroup){
@if(isFormGroup(controlOrGroup)){
 @if(controlOrGroup.get('control'); as abstractControl){
<!-- Drop Down Social Media Options -->
<mat-form-field appearance="outline">
  <mat-label>Social Links</mat-label>
<mat-select [formControl]="selectedSocialMedia">
  <mat-option *ngFor="let option of socialMediaOptions" [value]="option.name">
    {{ option.name }}
  </mat-option>
</mat-select>
</mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ controlOrGroup.get('socialMedia')?.value?.name }}</mat-label>
    <input matInput [formControl]="getFormControl(abstractControl)" [type]="controlType" />
    <mat-icon matPrefix class="material-symbols-outlined">
      {{ controlOrGroup.get('socialMedia')?.value?.icon }}
    </mat-icon>

  </mat-form-field>
}}}}
<!-- both cases -->
<button mat-icon-button (click)="addInput()"> 
<mat-icon class="material-symbols-outlined">
  add_circle
</mat-icon>
</button>
</div>