<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login Page</title>
</head>

<body>
<div class="body">
  <!-- logo and welcoming words -->
<div class="login-header">
<figure>
  <!-- logo glows on valid login -->
  <img ngSrc="../../assets/images/Skalar_Hat_Icon.png" fill priority class="logo">
  <figcaption>
  Skalarly
  </figcaption>
</figure>
<h2> Enhance Your University Experience</h2>
</div>

<!-- content projection to be used in error handler -->
  <ng-container login-content>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
  <div class="input-boxes">
  <!-- enter email -->
  <mat-form-field  appearance="outline" email>
    <!-- <span matPrefix class="material-symbols-outlined">
      alternate_email
      </span> -->
    <input matInput formControlName="email" placeholder="Email" required type="email"
    id="skalarlyEmail" />
    <mat-label [class.valid]="emailFound" >
         Academic Email</mat-label>
    <mat-error *ngIf="loginForm.get('email')!.hasError?.('emailNotFound')">No account matches this email</mat-error>
  <span matSuffix class="material-symbols-outlined" matTooltip="Skalarly requires an academic email">
    info
    </span>
  </mat-form-field>
  <!-- enter password -->
  <mat-form-field  appearance="outline" password>
    <span matPrefix class="material-symbols-outlined" [@lockAnimation]="lockState" placeholder="Password" >
      <ng-container *ngIf="!isPasswordValid; else unlock">
        lock
        </ng-container>
        <ng-template #unlock [class.validG]>
        lock_open
        </ng-template>
      </span>
 <input matInput formControlName="password" placeholder="Password" required type="password"
 #skalarlyPassword />
 <mat-label [class.valid]="loginForm.get('password')!.valid">
   Password</mat-label>
 <mat-error *ngIf="loginForm.get('password')!.hasError?.('invalidPassword')">Please enter a valid Skalarly password</mat-error>
<button matSuffix mat-icon-button type="button"  [ngClass]="{ 'showing': visiblePassword }"
(click)="toggleVisibility()" [@toggleAnimation]="visiblePassword"
matTooltip="{{ visiblePassword ? 'Show Password' : 'Hide Password' }}" >
<span class="material-symbols-outlined">
  <ng-container *ngIf="visiblePassword; else hide">
visibility
</ng-container>
<ng-template #hide>
visibility_off
</ng-template>
</span>
</button>
</mat-form-field>
</div>
<!-- add rest -->
<button mat-raised-button *ngIf="!isLoading; else loading" type="submit" login
[@shakeAnimation]="failedLoginAnimation" (keydown.enter)="enterClicked()">Login</button>
<ng-template #loading>
  Logging in 
  <!-- have color change, look at font awesomelog in pg example -->
  <span [class.dot-pulse]="isLoading">
  </span>
</ng-template>
</form>

<button  mat-button disableRipple routerLink="/forgot-password">
  Forgot Password?
</button>
<button mat-raised-button routerLink="/sign-up" color="primary" btn>Create A New Account</button>
</ng-container>

<div class="welcome-text" [@welcomeAnimation]="animationState">Welcome to Skalarly</div>

</div>
</body>
</html>