<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login Page</title>
</head>

<body>
  <!-- logo and welcoming words -->
<div class="login-header">
<figure>
  <!-- logo glows on valid login -->
  <img ngSrc="../../assets/images/Skalar_Hat_Icon.png" fill priority class="logo">
  <figcaption>
  Skalarly
  </figcaption>
</figure>
<h2> Enhance Your University Experience</h2>
</div>

<!-- content projection to be used in error handler -->
  <ng-container login-content>
<form [formGroup]="loginForm" (ngSubmit)="login()" >
  <div class="input-boxes">
    <div column>
  <!-- enter email -->
  <mat-form-field  appearance="outline">
    <input matInput formControlName="email"  placeholder="ex: name@institution.ca" type="email"
    id="skalarlyEmail" [appGlowBorder]="isGlowing" />
    <mat-label [class.condition-met]="emailFound" >
         Academic Email</mat-label>
    <mat-error *ngIf="loginForm.get('email')!.hasError?.('emailNotFound')">No account matches this email</mat-error>
  <mat-icon matPrefix class="material-symbols-outlined" 
    [@spinAndChange]="emailState">
    <ng-container *ngIf="emailState === 'initial'" [matTooltip]="'Skalarly requires an academic email'">alternate_email</ng-container>
    <ng-container *ngIf="emailState === 'check'">check_circle</ng-container>
  </mat-icon>
  </mat-form-field>

    <!-- Keep skalar logged in -->
    <mat-checkbox [checked]="stayLoggedIn" (change)="stayIn()" >
      Stay logged in (1 month)</mat-checkbox>

    </div>
  <!-- enter password -->
  <div column>
  <mat-form-field appearance="outline">
    <span matPrefix class="material-symbols-outlined"
    [@lockAnimation]="lockState" placeholder="Password" >
      <ng-container *ngIf="!isPasswordValid; else unlock">
    <mat-icon>
        lock
    </mat-icon>
        </ng-container>
        <ng-template #unlock>
    <mat-icon>
        lock_open
    </mat-icon>
        </ng-template>
      </span>
 <input matInput formControlName="password" placeholder="Password" type="password"
 #skalarlyPassword [appGlowBorder]="isGlowing" />
 <mat-label [class.condition-met]="loginForm.get('password')!.valid">
   Password</mat-label>
 <mat-error *ngIf="loginForm.get('password')!.hasError?.('invalidPassword')">Invalid password</mat-error>
<button matSuffix mat-icon-button type="button" 
(click)="toggleVisibility()" [@toggleAnimation]="visiblePassword"
matTooltip="{{ visiblePassword ? 'Show Password' : 'Hide Password' }}" >
<span class="material-symbols-outlined">
  <ng-container *ngIf="visiblePassword; else hide">
    <mat-icon>
      visibility
    </mat-icon>
</ng-container>
<ng-template #hide>
  <mat-icon>
    visibility_off
  </mat-icon>
</ng-template>
</span>
</button>
</mat-form-field>
<button type="button" (click)="navigate()" forgot>
  <i>Forgot Password?</i>
</button>
</div>
</div>
<!-- Login Button -->
  <div loginButton>
  <button mat-fab type="submit" *ngIf="progressState === 'default'" 
  [appValidationAnimation]='loginForm.valid' [@shakeAnimation]="failedLoginAnimation"
  (keydown.enter)="enterClicked()" class="material-symbols-outlined" >
  fingerprint
  </button>
<!-- Processing login -->
<button mat-raised-button *ngIf="progressState === 'load'">
  Authenticating
  <span class="dot-pulse">
  </span>
</button>
<ng-template *ngIf="progressState === 'complete'">
<button mat-icon-button class="material-symbols-outlined" class="glowing-text">
 approval_delegation
</button>
</ng-template>
</div>
</form>
</ng-container>


  <div loginButton>
  <button mat-raised-button routerLink="/sign-up" btn>
Join Skalarly
  </button>
  </div>



<div class="welcome-text" [@welcomeAnimation]="animationState">Welcome to Skalarly</div>
</body>
</html>