@use '../universal-reusable-styles/common' as universal;
@use '../universal-reusable-styles/break-points' as device;
$input-margin: 3%; 
// form width based on  device breakpoints
$form-margins: (
  base: 0%,     
  tablet: 5%,  
  laptop: 10%,   
  desktop: 20%,  
  tv: 30%        
);
// *1 *2
body {
  background-image: linear-gradient(whitesmoke,white);
}
div[loginButton]{
  display: flex;
  justify-content: center;
  width: 100%;
}
div[column] {
  display: flex;
  flex-direction: column;
  &:first-of-type {
    mat-form-field {
      justify-content: flex-start;
    }
  }
  &:not(:first-of-type) 
  mat-form-field {
    justify-content: flex-end;
  }
}
.dot-pulse {
        display: inline-block;
        position: relative;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: grey;
        animation: dotPulse 1s infinite;
}
      .dot-pulse:nth-child(2) {
        animation-delay: 0.5s;
      }
      
      .dot-pulse:nth-child(3) {
        animation-delay: 1s;
      }
      @keyframes dotPulse {
        0%, 80%, 100% {
          transform: scale(0);
        }
        40% {
          transform: scale(1);
        }
      }
.mat-mdc-checkbox{
    display: flex;
  }
.logo{ 
      position: relative;
      display: block; // Ensure the image is displayed as a block element
      margin: 0 auto; // Center the image horizontally
      justify-content: center;
      max-width: 100%; 
      height: auto; 
        }
.login-options {
  display: flex;
  align-items: center;
  text-align: center;
       }
.failed-login-animation {
        animation-name: shake; 
        animation-duration: 0.5s; 
        animation-timing-function: ease-in-out;
      }

// approved login
/* Define a CSS class for the glowing and scaling animation */
.glowing-text {
  animation: glow .5s, scale .5s;
}

/* Keyframes for the glow animation */
@keyframes glow {
  from {
    color: green;
    transform: scale(1);
  }
  to {
    color: green;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
    transform: scale(1.7);
  }
}

// scaling
  @each $screen, $min-width in device.$device-sizes {
  @media only screen and (min-width: #{$min-width}) {
    $font-size: map-get(device.$font-sizes, $screen);
    $font-sub-size: map-get(device.$font-sub-sizes, $screen);
    $chip-size: map-get(device.$chip-size, $screen);
    $form-margin: map-get($form-margins, $screen);

    button{
      font-size: calc(#{$font-size} + #{$chip-size});
    &[btn]{
      background-image: linear-gradient(to right,#002D62,#778899);
      color: white;
      font-size: calc(#{$font-size} - #{$chip-size});
        }
    }

    button[forgot]{
        align-items: center;
        background: none;
        border: none;
        color: #0073e6;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        font-size: calc(#{$font-size} - #{$font-sub-size});
        text-decoration: underline;
      }
      form {
        margin: 0% $form-margin;
        @include universal.common;
      }
      .welcome-text {
        font-size: $font-size;
      }
    
  }
}
    .input-boxes{
     @include universal.common;
    //  if grater then 576px width
    @media (min-width: 576px) {
    margin: 0% 2%;
     @include universal.common(flex, row);
     mat-form-field {
      &:first-child {
        margin-right: $input-margin; 
      }
      &:last-child {
        margin-left: $input-margin; 
      }
    }}}
    span[matPrefix] { 
      margin-left: 15%;
    }
    .welcome-text {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
      position: relative;
  // animations keyframes
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px); /* Adjust the horizontal shake distance */
    }
    50% {
      transform: translateX(5px); /* Adjust the horizontal shake distance */
    }
  }
      @keyframes fadeOut {
        0% {
          opacity: 1;
          white-space: nowrap;
        }
        25% {
          opacity: 0.75;
        }
        100% {
          opacity: 0;
        }
      }
    }

      
// *1 mobile-first styles
.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    // everything smaller shoudl have logo at top of screen
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within the figure */
    position: relative;
    height: auto;
    width: universal.$all;
  }
figcaption{
    @include universal.common;
    background-color: #222;
    text-align: center;
    margin-top: 5%;
}


