<div class="form-wrapper">
  @if(title){
  <h2>{{ title }}</h2>
  }
<mat-form-field appearance="outline">
    <mat-label> @if(label){
      {{ label }}
     }
    </mat-label>
      @if(icon){
     <mat-icon matPrefix class="material-symbols-outlined"
      [class.condition-met]="isValid">{{icon}}</mat-icon>
      }
@if(default){
  @switch(controlType){
  @case("text"){
    <input type="text" matInput [placeholder]="placeholder" [formControl]="input">
    <mat-autocomplete #auto="matAutocomplete" >
      @for(list  of (filteredList$ | async); let i = $index; track list){
        <mat-option (click)="newSelection(list)"  
        [value]="list">
            <span 
            [innerHTML]="list | titlecase | bold: typedFilter.value! ">
            </span>
        </mat-option>
    }
    </mat-autocomplete>
  }
    @case("password"){
      <input type="password" matInput [placeholder]="placeholder" [formControl]="input">
      <button matSuffix mat-icon-button type="button"
      (click)="$event.stopPropagation(); toggleVisibility()" 
      [@rotate180]="visiblePassword"
      [matTooltip]="visiblePassword ? 'Hide Password' : 'Show Password'">
      <mat-icon  class="material-symbols-outlined">
        {{ visiblePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
  </button>
    }
  }
 } @else { 
  <textarea matInput></textarea>
}
    @if (error){
      <mat-error >{{ error }}</mat-error>
    }
    @if(input.value){
    <button matSuffix mat-icon-button (click)="input.reset()">
      <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
    </button>
  }
  @if (hint){
  <mat-hint>{{hint}}</mat-hint>
  }
  </mat-form-field>

  <div class="password-requirements">
    <p>Password Requirements:</p>
    <ul>
      @for(requirement of passwordRequirements; track requirement.key){
      <li [class.condition-met]="requirement.key">
    {{ requirement.text }}
  </li>
}
    </ul>
  </div>
  </div>

  @if(dynamic){
    <div class="input-add-wrapper">
      @if(controlType === 'text'){
        <mat-form-field appearance="outline">
          <mat-label>
            {{ placeholder }}
          </mat-label>
          @if(icon){
            <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
             }
          <input matInput type="text" [formControl]="controlOrGroupText"/>
        </mat-form-field>
    @for (controlOrGroup of inputsArray.controls; let i = $index; track controlOrGroup){
      @if(isFormControl(controlOrGroup)){
        <mat-form-field appearance="outline">
          <mat-label>
            {{ placeholder }}
          </mat-label>
          @if(icon){
            <mat-icon matPrefix class="material-symbols-outlined">{{icon}}</mat-icon>
             }
          <input matInput type="text" [formControl]="controlOrGroup"/>
        </mat-form-field>
        @if (inputsArray.length > 1) {
            <button mat-icon-button (click)="removeInput(i)">
          <mat-icon class="material-symbols-outlined">cancel</mat-icon>
            </button>
        }
    }
    }
      }
    <!-- url -->
    @if(controlType === 'url'){
      @for (controlOrGroup of inputsArray.controls; let i = $index; track controlOrGroup){
    @if(isFormGroup(controlOrGroup)){
     @if(controlOrGroup.get('control'); as abstractControl){
    <!-- Drop Down Social Media Options -->
    <mat-form-field appearance="outline">
      <mat-label>Social Links</mat-label>
    <mat-select [formControl]="selectedSocialMedia">
      @for (option of socialMediaOptions; let i = $index; track selectedSocialMedia){
      <mat-option [value]="option.name">
        {{ option.name }}
      </mat-option>
    }
    </mat-select>
    </mat-form-field>
    @if(selectedSocialMedia.value){
      <mat-form-field appearance="outline">
        <mat-label>{{ controlOrGroup.get('socialMedia')?.value?.name }}</mat-label>
        <input matInput [formControl]="getFormControl(abstractControl)" type="url"
        name="{{controlOrGroup.get('socialMedia')?.value?.placeholder}}" placeholder="https://example.com" />
        <mat-icon matPrefix class="material-symbols-outlined">
          {{ controlOrGroup.get('socialMedia')?.value?.icon }}
        </mat-icon>
      </mat-form-field>
    }
    }}}}
    <!-- both cases -->
    <button mat-icon-button (click)="addInput()"> 
    <mat-icon class="material-symbols-outlined">
      add_circle
    </mat-icon>
    </button>
    </div>
  }