<div class="form-wrapper">
  @if(title){
  <h3>{{ title }}</h3>
  }
<mat-form-field appearance="outline">
  @if(label){
    <mat-label>
      {{ label }}
    </mat-label>
  }
      @if(icon){
     <mat-icon matPrefix class="material-symbols-outlined"
      [class.condition-met]="isValid">{{icon}}</mat-icon>
      }
@if(default){
  @switch(controlType){
  @case("text"){
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="input"
    [placeholder]="filler || ''">
    <mat-autocomplete #auto="matAutocomplete" >
      @for(options of (filteredList$ | async); let i = $index; track options){
        <mat-option [value]="options" (click)="emitSelectedChange(options)">
          <span [innerHTML]="options | titlecase | bold: input.value!">
          </span>
        </mat-option>
    }
    </mat-autocomplete>
  }
  @case("email"){
    <input type="email" matInput [formControl]="input"
    [placeholder]="filler || ''">
  }
    @case("password"){
      <input type="password" matInput [formControl]="input">
      <button matSuffix mat-icon-button type="button"
      (click)="$event.stopPropagation(); toggleVisibility()" 
      [@rotate180]="visiblePassword"
      [matTooltip]="visiblePassword ? 'Hide Password' : 'Show Password'">
      <mat-icon  class="material-symbols-outlined">
        {{ visiblePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </button>
  <div class="password-requirements">
    <p>Password Requirements:</p>
    <ul>
      @for(requirement of passwordRequirements; track requirement.key){
      <li [class.condition-met]="requirement.key">
    {{ requirement.text }}
  </li>
}
    </ul>
  </div>
    }
  }
 } @else { 
  <textarea matInput></textarea>
}
    @if (error){
      <mat-error >{{ error }}</mat-error>
    }
    @if(input.value){
    <button matSuffix mat-icon-button (click)="reset()">
      <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
    </button>
  }
  @if (hint){
  <mat-hint>{{hint}}</mat-hint>
  }
  </mat-form-field>
  </div>