<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Error Message</title>
</head>


<!-- Could I use test 6-7 & ng-content for any of this? -->
<body>
<div >
    <div >
        <div mat-card-title> Hold up, friend</div>
    
        <span class="material-icons-outlined icon">
            self_improvement
            </span>
    
    </div>
    
    <div >
    <div mat-dialog-content>
    <div >{{ data.message }}</div>
    </div>
    <div mat-dialog-actions >
        <!-- use ng content perhaps for dif options of error handling btns -->
        <!-- If a server glitch -->
        <button mat-raised-button mat-dialog-close (click)="reloadPg()">Reload</button>
        <!-- direct to login if not authoirze, no userId.. -->
        <!-- Have login on screen
        Select this part from the  --> 
        <app-login-format >
        <button  mat-raised-button routerLink="/sign-up" color="primary" signup>Create A New Account</button>
    </app-login-format>
    </div>
    </div>
    </div>
    </body>
