<mat-form-field>
    <mat-label>
      <i [class.condition-met]="control.valid" [class]="icon"></i> {{ label }}
    </mat-label>
    <input [type]="controlType" matInput [placeholder]="placeholder" [formControl]="control"
    (input)="controlValueChanged.emit(control.value)">
    <button matSuffix mat-icon-button 
    (click)="toggleVisibility()"
    [matTooltip]="visiblePassword ? 'Hide Password' : 'Show Password'">
<i class="fa-solid" [class]="visiblePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
</button>
  </mat-form-field>
  <div class="password-requirements">
    <p>Password Requirements:</p>
    <ul>
      @for(requirement of passwordRequirements; track requirement.key){
      <li [class.condition-met]="requirement.key">
    {{ requirement.text }}
  </li>
}
    </ul>
  </div>