<mat-form-field appearance="outline">
  @if(icon){
    <mat-icon matPrefix class="material-symbols-outlined"
     [class.condition-met]="control.valid">{{icon}}</mat-icon>
     }
    <input matInput [type]="controlType" [placeholder]="placeholder" [formControl]="control"
    (input)="controlValueChanged.emit(control.value)">
    <button matSuffix mat-icon-button type="button"
    (click)="$event.stopPropagation(); toggleVisibility()" 
    [@rotate180]="visiblePassword"
    [matTooltip]="visiblePassword ? 'Hide Password' : 'Show Password'">
    <mat-icon  class="material-symbols-outlined">
      {{ visiblePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
</button>
  </mat-form-field>
  <div class="password-requirements">
    <p>Password Requirements:</p>
    <ul>
      @for(requirement of passwordRequirements; track requirement.key){
      <li [class.condition-met]="requirement.key">
    {{ requirement.text }}
  </li>
}
    </ul>
  </div>