 @defer { 
<!-- <div class="content-container"> -->
  @if(!this.orientationService.screen() && this.orientationService.url() == ('/login' || '/' )){
@defer (on idle) { 
  @for (line of lines; let i = $index; track line){
    <div 
    class="line"
    [style.top]="line.top"
    [style.left]="line.left"
    [style.animation-delay]="i * 2 + 's'"
    >
  {{line.data}}</div>
  }
  }
}

<!-- @if (this.orientationService.url() !== ('/' || '/login' || '/signup' )){
<app-nav-bar scrollToggle (toggleHeader)="onToggleHeader($event)"></app-nav-bar>
 } -->
<!-- [@fadeMargin]="marginState" -->
  <router-outlet></router-outlet> 

  <!-- @if(this.orientationService.screen() && (this.orientationService.url() !== ('/login' || '/' ))){
    <footer>
      <app-nav-icons>
      </app-nav-icons>
    </footer>
    } -->
 <!-- Render as component based on path of routes -->
     <!-- <router-outlet ></router-outlet>  Secondary outlet for sidebars & later maybe modals/dialog -->
 <!-- </div>   -->
}  
@loading (minimum 1.2s) { 
  <div class="initial-load">   
    <img src="../favicon.ico" alt="Neslo Logo">
  </div>
  }