<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Search Bar</title>
</head>


<!-- Could I use test 6-7 & ng-content for any of this? -->
<body>
    <!-- *1 *2  but mobile first -->
        <div [ngClass]="{'mobile-screen': orientation === 'portrait', 
        'large-screen' : orientation === 'landscape' }" [@slideInOut]="showResults && (orientation === 'portrait')">
            <span class="input-row" *ngIf="elementHasClass('mobile-screen'); else largeScreen">
            <button mat-icon-button (click)="iconBackClicked()"> 
        <i class="fa-solid fa-angle-left"></i>
            </button>
        <input matInput type="search" [formControl]="searchSkalar" placeholder="Search Fellow Skalars">
        </span>
        <ng-template #largeScreen>
        <input matInput type="search" [formControl]="searchSkalar" placeholder="Search Fellow Skalars">
        </ng-template>
    <!-- skalar found -->
    <ng-container *ngIf="skalars$ | async as skalars"> 
  <ng-template *ngFor="let skalar of skalars" >
<!-- animated when items are added to or removed from the skalars array  -->
    <span class="results">
        <app-skalar-card [skalarInfo]="skalar" [@slideInOut]> </app-skalar-card>
    </span>

  </ng-template>
</ng-container>
</div>
</body>
</html>
