//  *1 *2
body {
    background-color: whitesmoke;
}
.input-row {
    display: flex;
    flex-direction: row;
}
/* Angular Animation */
@keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.results {
    position: fixed;
    width: 100%;
    z-index: 2;
}
//  *1
.mobile-screen {
    height: 100%;
    margin: 2% 0%;
}
//  *2
.large-screen {
    margin: 2% 0%;
}
