<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Search Bar</title>
</head>

<body>
    <!-- *1 mobile first -->
    <ng-template *ngIf="searchIconClicked; else largeScreen"> 
        <div class="mobile-screen">
            <span class="input-row">
            <button mat-icon-button (click)="iconBackClicked()"> 
        <i class="fa-solid fa-angle-left"></i>
            </button>
        <input matInput type="search" [formControl]="searchSkalar" placeholder="Search Fellow Skalars">
        </span>
    <!-- skalar found -->
    <ng-container *ngIf="skalars$ | async as skalars"> 
  <ng-template *ngFor="let skalar of skalars">

    <span class="results" [@slideInOut]="showResults">
        <app-skalar-card [skalarInfo]="skalar"> </app-skalar-card>
<!-- list of skalars to toggle -->
    </span>

  </ng-template>
</ng-container>
</div>
</ng-template>
<!-- *2 -->
<ng-template #largeScreen>
    <div class="input-row large-screen">
    <input matInput type="search" [formControl]="searchSkalar" placeholder="Search Fellow Skalars">
    <!-- skalar found -->
  <ng-container *ngIf="skalars$ | async as skalars"> 
  <ng-template *ngFor="let skalar of skalars">
    <span [innerHTML]="skalar.username | bold: searchSkalar.value ">
<!-- list of skalars to toggle -->
    </span>
  </ng-template>
  </ng-container>
  </div>
</ng-template>

</body>
</html>



