  <mat-toolbar class="toolbar">
          @if(currentUrl !== '/sign-up'){
          <button mat-icon-button (click)="toggleSearch(true)">
          <mat-icon class="material-symbols-outlined">search</mat-icon>
          </button>
          @if(searchIconClicked){
          <app-search-bar [mobileFirst]="true" (backEvent)="toggleSearch($event)"></app-search-bar>
          }}

      <div class="nav-bar">
    <button mat-button class="logo-button" aria-label="Skalarly logo, main page button navigation" (click)="navigate()">
      <img src="assets/images/Skalar_Hat_Icon.svg" alt="Skalarly Grad Wizard Hat Icon" class="skalarly">
      Skalarly
    </button>
    <div class="nav-bar-grouping">
    @if(!this.orientationService.screen()){
    <app-nav-icons [currentUrl] rightLine>
    </app-nav-icons>
  }
<button mat-icon-button aria-label="Settings button"
[matMenuTriggerFor]="account" class="material-symbols-outlined settings">settings</button>
<mat-menu #account="matMenu">
  <div title>Manage</div>
  <button  mat-menu-item>Help</button>
</mat-menu>
</div>
      </div>
</mat-toolbar>

    <!-- page refresh pull down, eventully use GSAP for a fun animation-->
<!-- appPullToRefresh  -->
   <!-- (holdDetected)="onHoldDetected($event.visible)" (deltaYChange)="onDeltaYChange($event.state)" -->
  <!-- <ng-container >
@if(visible){
    <-- The refresh icon. that animates    --
    <div class="refresh-icon-container" [@refresh]="reloadState">
    <mat-icon [@dialog]  
    class="material-symbols-outlined refresh-icon-border" 
    [ngClass]="{'glow-effect': reloadState === 'final'}">
    {{ getIcon(reloadState)}}
  </mat-icon>
</div>
}
  </ng-container> -->
