  <mat-toolbar class="toolbar">
      <div class="nav-bar">
        <!-- just icon for small -->
    <button mat-button class="logo-button" aria-label="Skalarly logo, main page button navigation" (click)="navigate()">
      <img src="assets/images/Skalar_Hat_Icon.svg" alt="Skalarly Grad Wizard Hat Icon" class="skalarly">
      Skalarly
    </button>
    <div class="nav-bar-grouping">
      @if(this.orientationService.screen()){
        <button mat-icon-button (click)="toggleSearch(true)">
        <mat-icon class="material-symbols-outlined">search</mat-icon>
        </button>
        @if(searchIconClicked){
        <app-search-bar (backEvent)="toggleSearch($event)"></app-search-bar>
        }
      } @else {
        <app-search-bar-expanded></app-search-bar-expanded>
    <app-nav-icons rightLine>
    </app-nav-icons>
  }
<button mat-icon-button aria-label="Settings button" (click)="rotateIcon()" [style.transform]="'rotate(' + rotationAngle + 'deg)'"
[matMenuTriggerFor]="account" class="material-symbols-outlined settings">settings</button>
<mat-menu #account="matMenu">
  <div title>Manage</div>
  <!-- Nav to page that explains skalarly -->
  <button  mat-menu-item>Info</button> 
</mat-menu>
</div>
      </div>
</mat-toolbar>

    <!-- page refresh pull down, eventully use GSAP for a fun animation-->
<!-- appPullToRefresh  -->
   <!-- (holdDetected)="onHoldDetected($event.visible)" (deltaYChange)="onDeltaYChange($event.state)" -->
  <!-- <ng-container >
@if(visible){
    <-- The refresh icon. that animates    --
    <div class="refresh-icon-container" [@refresh]="reloadState">
    <mat-icon [@dialog]  
    class="material-symbols-outlined refresh-icon-border" 
    [ngClass]="{'glow-effect': reloadState === 'final'}">
    {{ getIcon(reloadState)}}
  </mat-icon>
</div>
}
  </ng-container> -->
