.background{
    background-image: url('src/assets/skalarly_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
}
.logo {
  display: contents;
}
.image-container{
  display: flex;
  margin: 0% 15%;
  justify-content: center;
}
.img{
  max-width: 75%;
}
button[join]:hover:after {
    content: '\2728'; 
    position: absolute;
    top: 5%;
    left: 65%;
}
.hidden {
    visibility: hidden;
}
div[column] {
  display: flex;
  flex-direction: column;
  padding: 0% 1%;
}
footer{
  display: flex;
  justify-content: flex-end;
  width: 80%;
  font-size: small;
}
app-letter-by-letter{
    display: flex;
    flex-direction: row;
}