.back{
    left: 3%;
    top: 3%;
    position: absolute;
}
  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    ngx-skeleton-loader {
      width: 400px; 
      height: 200px;
    }
    .custom-rectangle {
      width: 400px;
      height: 200px;
      background: rgb(239,241,246) no-repeat;
    }
    .btns {
      display: flex;
      flex-direction: row;
      width: 55%;
      margin-top: 2%;
      justify-content: space-evenly;
      .custom-btn {
        width: 70px;
        height: 50px;
        background: rgb(239,241,246) no-repeat;
      }
    }
  }
  