    <div class="input-boxes-skeleton" >
    <div class="skeleton-wrap">
      <ngx-skeleton-loader appearance="custom-content" class="input-skeleton" one></ngx-skeleton-loader>
      <ngx-skeleton-loader appearance="line" stayIn></ngx-skeleton-loader>
    </div>
      <!-- Skeleton for the password input -->
    <div class="skeleton-wrap">
      <ngx-skeleton-loader appearance="custom-content" class="input-skeleton" two></ngx-skeleton-loader>
      <ngx-skeleton-loader appearance="line" forgot></ngx-skeleton-loader>
    </div>
    </div>
    <ngx-skeleton-loader appearance="circle" [theme]="skeletonTheme" circle></ngx-skeleton-loader>
