.courses-container {
    display: flex;
    flex-direction: column;
  }
.courses{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.course-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;;
}
.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
p.bio{
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 2%;
    margin: 2%;
    border-radius: 8px;
  }
  .two-column {
    display: flex;
    text-align: center;
  }
  
.two-column .courses {
    flex: 1;
    margin: 0 10px;
  }
  
.list li {
    color: #555; /* Slightly lighter color for list items */
    padding: 8px 0; /* Padding above and below each item */
    border-bottom: 1px solid #ddd; /* Border between items */
  }

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-container{
  display: flex;
  flex-direction: column;
}
.friends-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}