/* You can add global styles to this file, and also import other style files */
@use 'app/universal-reusable-styles/common' as universal;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// universal font
$skalarly-font: 'Cormorant Garamond', serif;

$toolbar-shadow-color: rgba(0, 0, 0, 0.25);
$toolbar-background-color: #282828;

b {
// for matching search results to an api call list
// displays light blue for `<b>${match}</b>` bold.pipe implementation
color: lightblue
}
body {
 @include universal.pageSize;
 input, textarea, button {
    font-family: $skalarly-font;
 }
}
.condition-met{
    color: #49b569;
}
img, video {
    width: universal.$all;
    height: auto;
}
mat-hint{
    color: grey;
}
mat-toolbar{
    box-shadow: 0px 2px 5px 0px $toolbar-shadow-color;
    background-color: $toolbar-background-color;
}

router-outlet[content] {
    flex: 1; // allow the content area to expand and fill available space 
@media (orientation: portrait) {
  padding-bottom: 4em; // adjust this value to match the footer's height in app scss 
  box-sizing: border-box; // include padding in the content's height calculation 
}
}