/* You can add global styles to this file, and also import other style files */
@use 'app/assistant-level-code/universal-reusable-styles/common' as common;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$color-pairs: (
  'oceanic-blue': (
    primary: rgba(72, 107, 131, 1), 
    pairing: rgba(0, 95, 115, 1)    
  ),
  'atlantic-blue': (
    pairing: rgba(0, 95, 115, 1),
    primary: rgba(30, 67, 121, 1)
  ),
  'sapphire-blue': (
    primary: rgba(30, 67, 121, 1), 
    pairing: rgba(72, 107, 131, 1)  
  )
);
@function random-color-pair() {
  $keys: map-keys($color-pairs);
  $random-key: nth($keys, random(length($keys)));
  $color-pair: map-get($color-pairs, $random-key);
  @return $color-pair;
}
$random-pair: random-color-pair();
$firstChoice: map-get($random-pair, primary);
$secondChoice: map-get($random-pair, pairing);
:root {
  --firstChoice: #{$firstChoice};
  --secondChoice: #{$secondChoice};
  --error: var(--mdc-outlined-text-field-error-outline-color);
  --approved: hwb(51 0% 0%); 
  --pairingColor: #486b83; 
  --pairingColor2: #778da9; 
}

/* universal font */
:root{
--skalarly-font: 'Cormorant Garamond', serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--skalarly-font); 
}
b {
color: rgba(48, 48, 203, 0.757);
}
body {
  margin: 0;
  padding: 0;
  @media only screen and (min-width: 768px) {
  background-color: #d2d2d2df;
  }
  @include common.common;
  @include common.pageSize;
 }
 button{
  /* google standard for mobile buttons */
  min-height: 48px; 
 }
.condition-met{
    color: #228B22;
}
mat-toolbar{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: #282828;
}

.glow-animation {
  overflow: hidden;
  box-shadow: 0 3px 3px var(--mdc-outlined-text-field-outline-color);
}
.error-animation {
    overflow: hidden;
    box-shadow: 0 3px 3px var(--mdc-outlined-text-field-error-outline-color);
  }
  
.material-symbols-outlined {
  font-variation-settings: 
    'FILL' 0, 
    'wght' 300, 
    'GRAD' 0, 
    'opsz' 24; 
}

