 @defer { 
<div class="content-container" #enter>
  @if(!this.orientationService.screen() && this.orientationService.url() == ('/login' || '/' )){
@defer (on hover(enter)) { 
  @for (line of lines; let i = $index; track line){
    <div 
    class="line"
    [style.top]="line.top"
    [style.left]="line.left"
    [style.animation-delay]="i * 1 + 's'"
    [ngClass]="line.uniqueClass"
    >
  {{line.data}}</div>
  }
  }
}
    <div>
@if (this.orientationService.url() !== ('/login' || '/' )){
<app-nav-bar scrollToggle (toggleHeader)="onToggleHeader($event)"></app-nav-bar>
 }
 <div [@fadeMargin]="marginState">
  <router-outlet></router-outlet> 
</div>
</div>
  @if(this.orientationService.screen() && (this.orientationService.url() !== ('/login' || '/' ))){
    <footer>
      <app-nav-icons>
      </app-nav-icons>
    </footer>
    }
 <!-- Render as component based on path of routes -->
     <!-- <router-outlet ></router-outlet>  Secondary outlet for sidebars & later maybe modals/dialog -->
 </div>  
}  
 @loading (minimum 300ms) { 
<div class="initial-load">   
  <svg >
    <use href="#skalarly-icon"></use>
  </svg>
</div>
}