<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parent Navigator</title>
</head>

<body>
  <!-- navigation bar
  can add this all in other component file.. -->
<ng-container  *ngIf="(routerUrl !== ('/home' || '/sign-up' ))">
<mat-toolbar class="header">
  <!-- logo -->

<!-- *1 search bar icon, mobile first  -->
    <ng-template *ngIf="orientation; else shownSearchBar" >
      <!-- search icon to display search -->
      <button mat-icon-button (click)="toggleSearch(true)">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <ng-container *ngIf="searchIconClicked">
      <app-search-bar [mobileFirst]="orientation" (backEvent)="toggleSearch($event)"></app-search-bar>
    </ng-container>
    </ng-template>

<!-- *2 landscape search bar -->
  <ng-template #shownSearchBar>
    <!-- for desktop but mobile one should pop up and then search options
    take up full screen -->
    <app-search-bar [mobileFirst]="orientation"></app-search-bar>
  </ng-template>

  <nav>
<!-- *1 only for portrait, mobile first -->
<ng-template *ngIf="orientation; else landscape">
  <mat-toolbar class="footer">
  <nav>
<span class="navigation">
<button mat-icon-button routerLink="/profile">
  <mat-icon class="fa-solid fa-graduation-cap navigation-icon"
  [ngClass]="
  routerUrl === '/profile' ? 'navigation-icon-active' : 'navigation-icon'
"></mat-icon>
</button>
</span>
  </nav>
</mat-toolbar>
</ng-template>



  <!-- *2 only for landscape -->
  <ng-template  #landscape>
<!-- profile -->
  <div class="navigation">
<button mat-icon-button routerLink="/profile">
  <mat-icon class="fa-solid fa-graduation-cap navigation-icon"
  [ngClass]="
  routerUrl === '/profile' ? 'navigation-icon-active' : 'navigation-icon'
"></mat-icon>
</button>
  </div>

</ng-template>

<!-- settings button -->

</nav>
</mat-toolbar>
</ng-container>

  <!-- Render as component based on path of routes -->
  <!-- [orientation]="orientation" use ngrxlocal state management -->
  <router-outlet ></router-outlet>  <!-- Primary outlet for main content -->
  <router-outlet name="sideBarInfoOutlet"></router-outlet> <!-- Secondary outlet for sidebars & later maybe modals/dialog -->
</body>
</html>
