@use './assistant-level-code/universal-reusable-styles/common' as common;
@use './assistant-level-code/universal-reusable-styles/one-by-one' as loop;

.content-container{
  @include common.common(flex, space-between, column);
  @include common.pageSize;
}
app-nav-bar[scrollToggle]{
  z-index: 4;
  position: fixed;
  width: 100%;
}
footer{
  box-shadow: 0px -4px ;
  background-color: var(--basicText);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: sticky;
  bottom: 0;
  z-index: 4;
  width: 100%
}
.initial-load{
  @include  common.common;
  align-items: center;
  height: 50vh;
}
.mobile-fade-overlay {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--bolder); 
      z-index: -1;
    }
  }
.glow-effect {
  box-shadow: 0 0 10px 5px var(--pairingColor);
  transition: box-shadow 0.3s ease; 
}
@keyframes glow-animation {
  from { opacity: 0; transform: translateX(-100%)  skewX(-20deg); }
  to { opacity: 1; transform: translateX(0) rotate(340deg) skewX(-70deg); }
} 
  @mixin animationEnter($delay) {
    animation: glow-animation 1s $delay forwards;
  }
.line{
  opacity: 0;
  position: absolute;
  @include animationEnter(1s);
  width: 13%;
  height: 1px;
  box-shadow: 3px 3px 7px var(--secondChoice);
  background: linear-gradient(45deg, var(--firstChoice), var(--secondChoice));
  &:nth-child(odd){
  background: linear-gradient(45deg, var(--secondChoice), var(--firstChoice));
  }

}
