.mobile-fade-overlay {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      z-index: -1;
    }
  }

.glow-effect {
  box-shadow: 0 0 10px 5px var(--pairingColor);
  transition: box-shadow 0.3s ease; 
}
router-outlet[content] {
  box-sizing: border-box;
  flex: 1; 
@media (orientation: portrait) {
  padding-bottom: 4em;
}
}