@defer { 
      <div entire-page>
  <div class="login-header">
    <!-- logo full fades in on valid email -->
    <img ngSrc="assets/images/Skalar_Hat_Icon.png" priority
    width="94.5" height="75" sizes="15vw"
    alt="Skalar Grad Wizard Hat Icon">
  <h2> Enhance Your Academic Experience With <br>
    <div skalarly>
      Skalarly
      </div>
  </h2>
  </div>
<!-- form logic -->
<app-login-logic>
</app-login-logic>
</div>
<!-- welcome and join animation -->
<div class="welcome-container">
@if (!nextAnimations) {
  <button mat-raised-button
  (click)="navigate()" join>
  <span>Join</span>
  </button>
} @else {
  <button mat-stroked-button
  (click)="navigate()" [class.welcome-text-south-paw]="nextAnimations"
   [@bubble]="nextAnimations ? 'animate' : 'noAnimate'" join>
  <app-letter-by-letter [customClass]="'small'"
  [lastLetterAnimation]="true"
  [message]="join" [autoGenerate]="false" 
  [welcomeSouthPaw]="true"></app-letter-by-letter>
  </button>
  }
<!-- array animation of words -->
    <div [@welcomeRise]="skalarlyState ? 'rise' : 'initial' "
    (@welcomeRise.done)="welcomeRiseDone()" >
  <app-letter-by-letter 
   [customClass]="'large'"
   [message]="welcome"
   [lastLetterAnimation]="true"
   [autoGenerate]="toggle" 
   [welcomeSouthPaw]="false" 
  ></app-letter-by-letter>
    </div>
</div>
} @loading {
  <div column>
 <!-- pre load skeleton -->
    <app-skeleton-loader-login></app-skeleton-loader-login>
    </div>
}
@error {
  <span class="material-symbols-outlined">
    sync_problem
    </span>
}
