@mixin welcome-text-style($total-letters, $color1, $color2, $right-to-left: false) {
  justify-content: center;
  white-space: nowrap; // Prevent letters from wrapping to a new line
  span {
    opacity: 0; // Start with the letter hidden
  }

  @for $i from 1 through $total-letters {
    $animation-delay: if($right-to-left, ($total-letters - $i) * 0.15s, $i * 0.15s); // Conditional assignment
    $animation-duration: 0.25s; // Duration for each letter
    span:nth-child(#{$i}) {
      animation: glow-animation $animation-duration $animation-delay forwards;
      background: if($right-to-left, linear-gradient(45deg, #{$color2}, #{$color1}), linear-gradient(45deg, #{$color1}, #{$color2}));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background 0.3s, color 0.3s;
    }
  }
  // animatons
  @keyframes glow-animation {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
@mixin background{
@keyframes backgroundAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
}
@mixin shakeLogin{
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px); 
  }
  50% {
    transform: translateX(5px); 
  }
}
}
@mixin fadeAway{
    @keyframes fadeOut {
      0% {
        opacity: 1;
        white-space: nowrap;
      }
      25% {
        opacity: 0.75;
      }
      100% {
        opacity: 0;
      }
    }
  }
@mixin riseFloat{
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
@mixin trailingSparkles {
@keyframes sparkles {
  0% {
    opacity: 0;
    transform: translate3d(var(--sparkle-x, 0), var(--sparkle-y, 0), 0) scale(1.2) rotateZ(20deg);

  }
  100% {
    opacity: 1;
    transform: translate3d(var(--sparkle-x, 0), var(--sparkle-y, 0), 0) scale(1.2) rotateZ(20deg);

  }
}
}
@mixin greenGlow {
  @keyframes glow {
    from {
      color: 3CB371;
      transform: scale(1);
    }
    to {
      color: 3CB371;
      text-shadow: 0 0 5px #3CB371, 0 0 10px #3CB371, 0 0 15px #3CB371;
      transform: scale(1.7);
    }
  }
}
@mixin gradientFlow {
@keyframes gradient-flow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: -100% -10%;
  }
}
}
  