@use '../../assistant-level-code/universal-reusable-styles/common' as common;

.login-header {
  @include common.common;
  text-align: center; 
  align-items: center;
  padding: 1% 0%;
@media only screen and (min-width: 600px) {
  border-top: 7px solid  var(--secondChoice);
  border-left: 7px solid var(--secondChoice);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
}
  button[join]:hover:after {
    content: '\2728'; 
    position: absolute;
    top: 5%;
    left: 65%;
  }
  
div[column] {
  display: flex;
  flex-direction: column;
  padding: 3% 1% 0% 1%;
  height: 100vh;
}
app-letter-by-letter{
    display: flex;
    flex-direction: row;
}